body {
    background-color: #bdbbbb73;
}

h3 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid rgb(196, 195, 195);
    padding: 0.5em;
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}

/*tr:hover {background-color: #ddd;}*/

th {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-align: center;
    background-color: #f2f2f2;
}

button {
    display: inline-block;
    padding: 1em 2em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 15px;
    box-shadow: 0 0.4em #999;
}

button:hover {background-color: #bb0000}

button:active {
    background-color: #7e0000;
    box-shadow: 0 0.4em #666;
    transform: translateY(4px);
}

#add {
    display: block;
    margin: auto;
    padding: 1em 2em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 145, 19);
    border: none;
    border-radius: 15px;
    box-shadow: 0 0.3em #999;
}

#add:hover {background-color: #008337}

#add:active {
    background-color: #005e2f;
    box-shadow: 0 0.4em #666;
    transform: translateY(4px);
}

h1 {
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.bars {
    display: flex;
    justify-content: space-around;
}

.bars > a{
	text-decoration: none;
	background-color: #C4C4C4;
	padding: 1%;
	border-radius: 2vh;
	font-family: 'Poiret One', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 3em;
	text-align: center;
	letter-spacing: 0.15em;
	color: #000000;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*.bars a:hover {*/
/*    background-color: #eeeeee;*/
/*  }*/

.button{
    align-self: flex-end;
    text-decoration: none;
    background-color: #C4C4C4;
    padding: 0.2%;
    border-radius: 2vh;
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.15em;
    color: #000000;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:hover {
    background-color: #eee;
  }

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/*.popup .popuptext :hover{*/
/*    background-color: #555;*/
/*}*/


/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.editCells{
    display: flex;
    flex-direction: column;
}

.editCells:hover{
    background-color: darkred;
}